.modalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  border-radius: 5px;
  box-shadow: 0px 20px 32px #00010229;
}

.modalContent {
  background-color: #fff;
  border-radius: 5px;
  width: 50%;
}

.header{
  border-bottom: 1px solid #DFE5F0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.filterHeader{
  margin-left: 10px;
}