.nav_container {
  top: 0px;
  left: 0px;
  width: 74px;
  height: 965px;
  background: #252b2b 0% 0% no-repeat padding-box;
  box-shadow: 5px 0px 6px #55555546;
}

.navbar {
  padding: 15px 0px;
  text-align: center;
  margin-bottom: 10px;
}

.logo {
  position: relative;
  transition: background-color 0.3s;
  padding: 0px 10px;
}

.logo::before {
  top: 0;
  left: 0;
  bottom: 0;
  width: 5px;
  content: "";
  position: absolute;
  background-color: transparent;
  transition: background-color 0.3s;

}
.logo:hover::before,
.logo:active::before {
  background-color: #ffaf2e;

}

.logo:hover,
.logo:active {
  background-color: #fff;
  background-color: transparent;

}

.logoImg {
  width: 35px;
  height: 35px;
}

.title {
  color: #fff;
  font-size: 14px;
}

.navItems {
  color: #fff;
  font-size: 13px;
  margin: 0px 0px 20px 0px;
}

.navMenu {
  margin-top: 30px;
}

.profileLogo {
  bottom: 10px;
  left: 15px;
  position: fixed;
}
